<h1><%= @user.name %>, your target is: <%= @target.name %>(<%= @target.email %>)</h1>

<p>Get them a present, and write your clues on the app at <%= @url %>.<br></p>
<p>Make sure your clues are complete before the game begins! You wouldn't want to ruin Christmas, would you?</p>

<p>Happy hunting!</p>
