<h1>Welcome to Ninja Santa <%= @user.name %>!</h1>

<p>You have successfully signed up - you can now login at <%= @url %>.<br></p>

<p>For now, you don't need to do anything more, until we assign your target.</p>
<p>Until then, thanks for joining and have a great day!</p>
