<% if @clues.current %>
  <p>Today's clue from your santa is:</p>
  <p><%= @clues.current.value %></p>
<% end %>

<% if @clues.previous.any? %>
  <p>Previous clues from your santa:</p>
  <ul>
    <% @clues.previous.each do |clue| %>
      <li><%= clue.value %></li>
    <% end %>
  </ul>
<% end %>

<% if !@clues.current && @clues.previous.none? %>
  <p>You haven't received any clues yet!</p>
<% end %>